# == project ==
# If you have custom env vars in your project, you can set them here
# You also must update the `host_envs` field in `SERVICE_CONFIG` in `Makefile` 
WAVS_ENV_YOURKEYHERE="00000000000000000000000000000000"

# WAVS
WAVS_DATA=~/wavs/data
WAVS_LOG_LEVEL="info"
WAVS_SUBMISSION_MNEMONIC="test test test test test test test test test test test junk"
WAVS_AGGREGATOR_MNEMONIC="test test test test test test test test test test test junk"
WAVS_COSMOS_SUBMISSION_MNEMONIC="cosmos mnemonic here"

# CLI
WAVS_CLI_DATA=~/wavs/cli
WAVS_CLI_COSMOS_MNEMONIC="cosmos mnemonic here"
WAVS_CLI_ETH_MNEMONIC="test test test test test test test test test test test junk"
WAVS_CLI_LOG_LEVEL="info, wavs_cli=debug"

# Aggregator
WAVS_AGGREGATOR_DATA=~/wavs/aggregator
WAVS_AGGREGATOR_MNEMONIC="test test test test test test test test test test test junk"
NEXT_PUBLIC_TOKEN_ADDRESS=
